body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#menu {
  display: flex;
  justify-content: center;
  position: absolute;
  background: #efefef;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  border-radius: 3px;
  align-content: center;
}
